<!-- Home Page -->
<section ng-controller="HomeController">

	<slick  slides-to-show=3 slides-to-scroll=1 init-onload=true data="categories">
		<div ng-repeat="category in categories">
			<h2>{[{ category }]}</h2>
		</div>
	</slick>	

    
	<slick slides-to-show=3 slides-to-scroll=1 init-onload=true data="images">

		<div ng-repeat="thing in images">
			<div class="news">
            	<div class="news-img"><img ng-src="{[{ images[$index] }]}"></div>
            	<div class="title">{[{ titles[$index] }]}</div>
            	<div class="date">{[{ dates[$index] | date }]}</div>
            	<div class="description">{[{ descriptions[$index] }]}</div>
        	</div>
		</div>

	</slick>



</section>