<!-- Home Page -->
<section ng-controller="HomeController">
    
    <!-- <div ng-repeat="data in feedData | limitTo:1">
        <div class="news">
            <div class="news-img"><img ng-src="{[{ data.img }]}"></div>
            <div class="title">{[{ data.title }]}</div>
            <div class="date">{[{ data.publishedDate | date }]}</div>
            <div class="description">{[{ data.contentSnippet }]}</div>
        </div>
    </div> -->

    <slick class="slider single-item" current-index="index" responsive="breakpoints" center-mode=true slides-to-show=3 slides-to-scroll=3>
      <div ng-repeat="data in loQueSea"><img ng-src="{[{ data }]}"/></div>
    </slick>

    <slick class="slider single-item" current-index="index" responsive="breakpoints" slides-to-show=3 slides-to-scroll=3>
      <div ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]"><h3>{{ i }}</h3></div>
    </slick>

</section>