<!-- Home Page -->
<section ng-controller="MobileController">

    <div class="mobile-remote">
        <div class="logo-mobile">
            <img src="images/logo2.png">
        </div>

        <div class="home-division"><div class="division-line"></div></div>

        <div class="category-mobile" ng-swipe-left="nextCategory()" ng-swipe-right="prevCategory()">
            <div class="title">Categoría</div>
            <div class="swipe">
                <img class="arrow-left" src="images/arrow-left.png">
                <img class="arrow-right" src="images/arrow-right.png"> 
            </div>

            <div class="icon-current">
                <img class="icon" src="images/mobile-category-design.png">
            </div>
        </div>

        <div class="home-division"><div class="division-line2"></div></div>
        
        <div class="news-mobile" ng-swipe-left="nextNew()" ng-swipe-right="prevNew()" hm-drag-down="downNew($event)"> 
            <div class="title">Noticias</div>
            <img src="images/news-mobile.png">
        </div>
    </div>

</section> 





