<!-- Home Page -->
<section ng-controller="MobileController">

    <div class="mobile-remote">
        <div class="logo-mobile">
            <img src="images/logo2.png">
        </div>

        <div class="home-division"><div class="division-line"></div></div>

        <div class="category-mobile">
            <div class="title">Categoría</div>
            <div class="swipe">
                <img class="arrow-left" src="images/arrow-left.png">
                <img class="arrow-right" src="images/arrow-right.png"> 
            </div>

            <div class="icon-current">
                <img class="icon" src="images/mobile-category-design.png">
            </div>
        </div>

        <div class="home-division"><div class="division-line2"></div></div>
        
        <div class="news-mobile"> 
            <div class="title">Noticias</div>
            <img src="images/news-mobile.png">
        </div>
    </div>

</section> 



<!--     <h2 style="margin-left:30%;">Live Edit with PeerJS</h2>
    Your PeerJS ID is: <span id="pid"></span><br><br>
    Connect to peer: <input type="text" id="rid" placeholder="Someone's ID: ">
    <input type="button" value="Connect" id="connect">
    <input type="button" value="Disconnect" id="disconnect">
    <br><br>

    <div class="progress progress-striped active" style="width:25%;">
      <div id="progBar" class="bar" style="width: 0%;"></div>
    </div>

    <textarea id="inputText" rows="30" style="width:45%;margin-left:20%;"></textarea> -->





