<!-- Home Page -->
<section ng-controller="HomeController" ng-init="initAplication()">

    <button id="next" ng-click="categoriesHandle.slickNext()" ng-show="false"></button>
    <button id="prev" ng-click="categoriesHandle.slickPrev()" ng-show="false"></button>
    <button id="goTo" ng-click="categoriesHandle.slickGoTo(index)" ng-show="false"></button>

    <button id="nextNew" ng-click="newsHandle.slickNext()" ng-show="false"></button>
    <button id="prevNew" ng-click="newsHandle.slickPrev()" ng-show="false"></button>
    <button id="goToS" ng-click="newsHandle.slickGoTo(index)" ng-show="false"></button>

    <div class="header">
        <div class="logo">
            <img src="images/logo1.png">
        </div>

        <!-- Message -->
        <!-- <h4>{[{ message }]}</h4> -->

        <div class="instructions">
            <div class="control"><span>Contrólalo</span> con tu smartphone</div>
            <img class="phone-control" src="images/instrutions-phone.png" alt="instrutions-phone" />
            <div class="go-to">
                <div class="go">Entra a</div>
                <div class="to">http://kmkz.com/NS/</div>
            </div>
        </div>
    </div>
    
    <div class="container-news">
        <slick  ng-transclude settings="categoriesConfig" control="categoriesHandle" on-directive-init="datelas">
            <div ng-repeat="category in categories">
                <div class="container-categories">
                    <div class="categories {[{category.name}]}">
                        <div class="icon"><img ng-src="{[{category.img}]}"></div>
                        <div class="title">{[{ category.text }]}</div>
                        <div class="rss">Mashable | The Next Web | Smashing Magazine | Awwwards</div>
                    </div>
                </div>
            </div>
        </slick>

        <div class="select-news">
            <div class="container-arrow">
                <div class="arrow-left {[{activeC.name}]}"></div>
                <div class="arrow-right {[{activeC.name}]}"></div>
            </div>
        </div>
        
        <slick ng-transclude settings="newsConfig" control="newsHandle">
            <div ng-repeat="new in news">
                <div class="container-news"> 
                    <div class="news">
                        <div class="news-img {[{activeC.name}]}"><img ng-src="{[{ new.image }]}"></div>
                        <div class="title">{[{ new.title }]}</div>
                        <div class="date">{[{ new.publishedDate | date:'EEEE, MMMM d, y' }]}</div>
                        <div class="description">{[{ new.description }]}</div>
                        <div class="downloads">
                            <img src="images/downloads.png">
                            DESCARGADA <span>231</span> VECES
                            <div class="icon">
                                <img ng-src="images/{[{ new.source }]}.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </slick> 
    </div>

    
</section> 



<!--         <slick ng-transclude settings="newsConfig" control="newsHandle">
            <div ng-repeat="new in news">
                <div class="container-news"> 
                    <div class="news">
                        <div class="news-img {[{activeC.name}]}"><img ng-src="{[{ new.image }]}"></div>
                        <div class="title">{[{ new.title }]}</div>
                        <div class="date">{[{ new.publishedDate | date:'EEEE, MMMM d, y' }]}</div>
                        <div class="description">{[{ new.description }]}</div>
                        <div class="downloads">
                            <img src="images/downloads.png">
                            DESCARGADA <span>231</span> VECES
                        </div>
                        <div class="icon">
                            <img src="images/techCrunch.png">
                        </div>
                    </div>
                </div>
            </div>
        </slick> -->




